<div class="full-page login-page" filter-color="black" data-image="./assets/img/login.jpg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
        <div class="container" >
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <form ng-submit="login()">
                        <div class="card card-login" cg-busy="promise">
                            <div class="card-header text-center" data-background-color="rose">
                                <h4 class="card-title">Login</h4>
                                <div class="social-line">
                                    <a ng-click="getLoginStatus()" class="btn btn-social-icon btn-facebook">
                                        <span class="fa fa-facebook"></span> Sign in
                                    </a>
                                </div>
                            </div>
                            <p class="category text-center">
                                Or Be Classical
                            </p>
                            <div class="card-content">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">User Name</label>
                                        <input type="text" required class="form-control" ng-model="user.user_name">
                                    </div>
                                </div>
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Password</label>
                                        <input type="password" required class="form-control" ng-model="user.password">
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Let's go</button>
                                <a ui-sref="register" class="btn btn-rose btn-success btn-wd btn-lg">Register</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="copyright pull-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>
                By HolyNova
            </p>
        </div>
    </footer>
</div>