<div class="full-page register-page" filter-color="black" data-image="./assets/img/register.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Register</h2>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="card-content">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="material-icons">face</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Join us</h4>
                                            <p class="description">
                                                You will be joining our 500,000 member community.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">drive_eta</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Driving Skills</h4>
                                            <p class="description">
                                                You will be learning from the best.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <form class="form" ng-submit="register()">
                                    <div class="card-content">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">face</i>
                                                </span>
                                            <input type="text" required class="form-control" ng-model="user.user_name" placeholder="User Name...">
                                        </div>
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                            <input type="email" required class="form-control" ng-model="user.email" placeholder="Email...">
                                        </div>
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                            <input type="password" required ng-model="user.password" placeholder="Password..." class="form-control" />
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <a ui-sref="login" class="btn btn-warning btn-round">Go Back</a>
                                        <input type="submit" class="btn btn-primary btn-round" value="Get started">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    By HolyNova
                </p>
            </div>
        </footer>
    </div>
