<div class="container-fluid" >
    <div class="row">
        <div class="col-md-3">
            <div class="card" cg-busy="promiseCategories">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">search</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Filter Search</h4>
                    <form method="#" action="#">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Keyword</label>
                            <input ng-model="query" type="text" class="form-control">
                        </div>
                        <br><br>
                        <label>Difficulty</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" ng-model="checkboxFilter['0']"> Easy
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" ng-model="checkboxFilter['1']"> Medium
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" ng-model="checkboxFilter['2']"> Hard
                            </label>
                        </div>
                        <br><br>
                        <label>Categories</label>
                        <div ng-repeat="category in categories" lazy-load>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" ng-model="categoriesFilter[category.name]" ng-init="categoriesFilter[category.name]=false"> {{category.name}}
                            </label>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="card" cg-busy="promise">
                    <div class="card-content">
                        <div class="col-md-4 col-md-offset-8">
                            <select id="myselect" class="selectpicker" data-style="btn btn-rose btn-round"
                                    title="sort by">
                                <option value="difficulty" selected>Sort By Difficulty</option>
                                <option value="name">Sort By Name</option>
                            </select>
                        </div>

                        <div ng-repeat="scenario in (filteredList = (scenarios | filter:query | checkbox:checkboxFilter:'difficulty'| checkbox:categoriesFilter:'category' | orderBy:sortBy)| startFrom:currentPage*pageSize | limitTo:pageSize)" class="col-md-4">
                            <div class="card card-product">
                                <a ui-sref="scenario({id:scenario._id})">
                                <div class="card-image" data-header-animation="false">

                                        <img class="img" ng-src="./assets/img/uploads/{{ scenario.image }}">

                                </div></a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a ui-sref="scenario({id:scenario._id})">{{scenario.name}}</a>
                                    </h4>
                                    <div class="card-description">
                                        {{scenario.description | limitTo:50 }}...
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="price" ng-class="{'text-success':scenario.difficulty == 0,'text-warning':scenario.difficulty == 1,'text-danger':scenario.difficulty == 2}">
                                        <h4 ng-switch="scenario.difficulty">
                                            <span ng-switch-when="0">Easy</span>
                                            <span ng-switch-when="1">Medium</span>
                                            <span ng-switch-when="2">Hard</span>
                                        </h4>
                                    </div>
                                    <div class="stats pull-right">
                                        <!-- <p class="category"><span ng-repeat="skill in scenario.skills">{{skill.name}}{{$last ? '' : ', '}}</span></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--
                        <div class="col-md-4">
                            <div class="card card-product">
                                <div class="card-image" data-header-animation="false">
                                    <a href="scenario.html">
                                        <img class="img" src="../assets/img/card-2.jpg">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="scenario.html">Scenario Car Crash 2</a>
                                    </h4>
                                    <div class="card-description">
                                        The place is close to Barceloneta Beach and bus stop just 2 min ...
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="price text-warning">
                                        <h4>Medium</h4>
                                    </div>
                                    <div class="stats pull-right">
                                        <p class="category">Skill 1, Skill 2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-product">
                                <div class="card-image" data-header-animation="false">
                                    <a href="scenario.html">
                                        <img class="img" src="./assets/img/card-2.jpg">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="scenario.html">Scenario Car Crash 3</a>
                                    </h4>
                                    <div class="card-description">
                                        The place is close to Barceloneta Beach and bus stop just 2 min ...
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="price text-danger">
                                        <h4>Hard</h4>
                                    </div>
                                    <div class="stats pull-right">
                                        <p class="category">Skill 1, Skill 2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="pagination pagination-primary">
                    <li>
                        <a ng-show="currentPage != 0" ng-click="currentPage=currentPage-1" href="#"> prev</a>
                    </li>
                    <li ng-repeat="i in numberOfPages() track by $index" ng-class="{'active':currentPage==$index}">
                        <a href="#" ng-click="change($index)" >{{$index+1}}</a>
                    </li>
                    <li>
                        <a ng-show="currentPage < scenarios.length/pageSize - 1" ng-click="currentPage=currentPage+1" href="#">next </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>