<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" cg-busy="promise">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">My Reservations</h4>
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Date</th>
                                <th>Scenarios</th>
                                <th class="text-right">Status</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="reservation in reservations">
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{reservation.date | date:('d/m/y')}}</td>
                                <td>{{reservation.scenarios.length}}</td>
                                <td class="text-right" ng-class="{'text-warning':!reservation.status,'text-success':reservation.status}">
                                    <span ng-show="!reservation.status">Pending</span>
                                    <span ng-show="reservation.status">Finished</span>
                                </td>
                                <td class="td-actions text-right">
                                    <a ui-sref="reservationDetails({'id':$index})" rel="tooltip" class="btn btn-info" data-placement="bottom" title="" data-original-title="Preview">
                                        <i class="material-icons">find_in_page</i>
                                    </a>
                                    <button ng-show="!reservation.status" ng-click="remove(reservation._id)" type="button" rel="tooltip" class="btn btn-danger" data-placement="bottom" title="" data-original-title="Cancel">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>