<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">Details</h4>
                    <form method="#" action="#">
                        <div class="form-group">
                            <label class="label-control">Date and Time</label>
                            <input readonly type="text" class="form-control datetimepicker"
                                   value="{{reservation.date|date:('d/m/y')}}"/>
                        </div>
                        <br><br>
                        <label class="label-control">Status</label>
                        <h5 ng-class="{'text-warning':!reservation.status,'text-success':reservation.status}">
                            <span ng-show="!reservation.status">Pending</span>
                            <span ng-show="reservation.status">Finished</span>
                        </h5>
                        <br><br>
                        <div ng-repeat="(key,value) in skills | groupBy:'skill.name'">
                            <div>
                                <h5 ng-class="{'text-success':((value | map: 'score' | sum)/value.length)>=50,'text-warning':((value | map: 'score' | sum)/value.length)>=20&&((value | map: 'score' | sum)/value.length)<50,'text-danger':((value | map: 'score' | sum)/value.length)<20}">{{key}}({{(value | map: 'score' | sum)/value.length}}%)</h5>
                                <div class="progress progress-line-primary">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{(value | map: 'score' | sum)/value.length}}" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{(value | map: 'score' | sum)/value.length}}%;">
                                        <span class="sr-only">{{(value | map: 'score' | sum)/value.length}}% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div ng-repeat="item in reservation.scenarios" class="col-md-4">
                            <div class="card card-product">
                                <div class="card-image" data-header-animation="false">
                                    <a ui-sref="reservationScenario({'idReservation':idReservation,'idScenario':$index})">
                                        <img class="img" ng-src="./assets/img/uploads/{{ item.scenario.image }}">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a ui-sref="reservationScenario({'idReservation':idReservation,'idScenario':$index})">{{item.scenario.name}}</a>
                                    </h4>
                                    <div class="card-description">
                                        {{item.scenario.description | limitTo:50}}{{item.scenario.description.length >
                                        50 ? '...' : ''}}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="price"
                                         ng-class="{'text-warning':item.status==0,'text-success':item.status==1,'text-danger':item.status==2}">
                                        <h4>
                                            <span ng-show="item.status==0">Pending</span>
                                            <span ng-show="item.status==1">Success</span>
                                            <span ng-show="item.status==2">Fail</span>
                                        </h4>
                                    </div>
                                    <div class="stats pull-right">
                                        <!-- <p class="category"><span ng-repeat="skill in item.skills">{{skill.skill.name}}{{$last ? '' : ', '}}</span>
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
